
<div class="media">
	<%= link_to image_tag(franchise.logo, style: 'width: 64px; max-height: 64px;'), franchise, class: 'pull-left' %>
	<div class="media-body">
		<h4 class="media-heading"><%= link_to franchise.full_name, franchise %></h4>
	</div>
</div>
