<table class="table table-condensed data-table table-striped">
	<% if @players.empty? %>
	<tr><td class="text-center">No players found.</td></tr>
	<% else %>
		<% @players.each do |player| %>
		<%= render player %>
		<% end %>
	<% end %>
</table>